//background for question box
$healthcare: #ffccd1;
$immigration: #f38eb0;
$gunControl: #cd92d7;
$paidLeave: #8fc9f8;
$genderEquality: #7fdde9;
$minimumWage: #a4d5a6;
$economy: #e5ed9b;
$terrorism: #ffdf81;
$climateChange: #ffaa90;

//colors for topics

.economy-100 {
	color: #FFCDD2;
}

.economy-200 {
	color: #EF9A9A;
}

.economy-300 {
	color: #E57373;
}

.economy-400 {
	color: #EF5350;
}

.economy-500 {
	color: #F44336;
}

.terrorism-100 {
	color: #D7CCC8;
}

.terrorism-200 {
	color: #BCAAA4;
}

.terrorism-300 {
	color: #A1887F;
}

.terrorism-400 {
	color: #8D6E63;
}

.terrorism-500 {
	color: #795548;
}

.healthcare-100 {
	color: #BBDEFB;
}

.healthcare-200 {
	color: #90CAF9;
}

.healthcare-300 {
	color: #90CAF9;
}

.healthcare-400 {
	color: #42A5F5;
}

.healthcare-500 {
	color: #2196F3;
}

.sickLeave-100 {
	color: #FFE0B2;
}

.sickLeave-200 {
	color: #FFCC80;
}

.sickLeave-300 {
	color: #FFB74D;
}

.sickLeave-400 {
	color: #FFA726;
}

.sickLeave-500 {
	color: #FF9800;
}

.trade-100 {
	color: #C5CAE9;
}

.trade-200 {
	color: #9FA8DA;
}

.trade-300 {
	color: #7986CB;
}

.trade-400 {
	color: #5C6BC0;
}

.trade-500 {
	color: #3F51B5;
}

.corporateTax-100 {
	color: #E1BEE7;
}

.corporateTax-200 {
	color: #CE93D8;
}

.corporateTax-300 {
	color: #BA68C8;
}

.corporateTax-400 {
	color: #AB47BC;
}

.corporateTax-500 {
	color: #9C27B0;
}

.climateChange-100 {
	color: #DCEDC8;
}

.climateChange-200 {
	color: #C5E1A5;
}

.climateChange-300 {
	color: #AED581;
}

.climateChange-400 {
	color: #9CCC65;
}

.climateChange-500 {
	color: #8BC34A;
}

.womensRights-100{
	color: #F8BBD0;
}

.womensRights-200{
	color: #F48FB1;
}

.womensRights-300{
	color: #F06292;
}

.womensRights-400{
	color: #EC407A;
}

.womensRights-500{
	color: #E91E63;
}

