//background for question box
$economy: #F44336;
$terrorism: #795548;
$healthcare: #FF5722;
$sickleave: #FF9800;
$trade: #3F51B5;
$corporatetax: #9C27B0;
$climatechange: #8BC34A;
$womensrights: #E91E63;


//colors for topics

.economy-100 {
	color: #FFCDD2;
}

.economy-200 {
	color: #EF9A9A;
}

.economy-300 {
	color: ##E57373;
}

.economy-400 {
	color: #EF5350;
}

.economy-500 {
	color: #F44336;
}

.terrorism-100 {
	color: #D7CCC8;
}

.terrorism-200 {
	color: #BCAAA4;
}

.terrorism-300 {
	color: #A1887F;
}

.terrorism-400 {
	color: #8D6E63;
}

.terrorism-500 {
	color: #795548;
}

.healthcare-100 {
	color: #FFCCBC;
}

.healthcare-200 {
	color: #FFAB91;
}

.healthcare-300 {
	color: ##FF8A65;
}

.healthcare-400 {
	color: #FF7043;
}

.healthcare-500 {
	color: #FF5722;
}

.sickleave-100 {
	color: #FFE0B2;
}

.sickleave-200 {
	color: #FFCC80;
}

.sickleave-300 {
	color: #FFB74D;
}

.sickleave-400 {
	color: #FFA726;
}

.sickleave-500 {
	color: #FF9800;
}

.trade-100 {
	color: #C5CAE9;
}

.trade-200 {
	color: #9FA8DA;
}

.trade-300 {
	color: #7986CB;
}

.trade-400 {
	color: #5C6BC0;
}

.trade-500 {
	color: #3F51B5;
}

.corporatetax-100 {
	color: #E1BEE7;
}

.corporatetax-200 {
	color: #CE93D8;
}

.corporatetax-300 {
	color: #BA68C8;
}

.corporatetax-400 {
	color: #AB47BC;
}

.corporatetax-500 {
	color: #9C27B0;
}

.climatechange-100 {
	color: #DCEDC8;
}

.climatechange-200 {
	color: #C5E1A5;
}

.climatechange-300 {
	color: #AED581;
}

.climatechange-400 {
	color: #9CCC65;
}

.climatechange-500 {
	color: #8BC34A;
}

.womensrights-100{
	color: #F8BBD0;
}

.womensrights-200{
	color: #F48FB1;
}

.womensrights-300{
	color: #F06292;
}

.womensrights-400{
	color: #EC407A;
}

.womensrights-500{
	color: #E91E63;
}

