// Streamgraph styles

.streamgraph-card { 
	background: #fff;

	.axis path, .axis line {
		fill: none;
		stroke: #ddd;
		stroke-width: 1px;
		shape-rendering: crispEdges;
	}

	.axis text {
		fill: #757575;
	}

	.timeline {
		stroke: #666;
		stroke-width: 1;
		stroke-linecap: round;
		stroke-dasharray: 1,4;
	}

	.remove {
		position: absolute;
		z-index: 19;
		width: 1px;
		height: 380px;
		top: 10px;
		bottom: 30px;
		left: 0;
		background: white;
	}

}