// Streamgraph styles

.streamgraph { 
	background: #fff;

	path:hover {
		cursor: pointer;
	}

	.axis path, .axis line {
		fill: none;
		stroke: #000;
		stroke-width: 2px;
		shape-rendering: crispEdges;
	}

	.timeline {
		stroke: #1194F6;
		stroke-width: 2;
		stroke-linecap: round;
		stroke-dasharray: 1,4;
	}

}