// Streamgraph styles

.streamgraph { 
	background: #fff;

	path:hover {
		cursor: pointer;
	}

	.axis path, .axis line {
		fill: none;
		stroke: #000;
		stroke-width: 2px;
		shape-rendering: crispEdges;
	}

	.timeline {
		stroke: #666;
		stroke-width: 2;
		stroke-linecap: round;
		stroke-dasharray: 1,4;
	}

	.remove {
		position: absolute;
		z-index: 19;
		width: 1px;
		height: 380px;
		top: 10px;
		bottom: 30px;
		left: 0;
		background: white;
	}

}