.treemap {
	.node {
		border: solid 1px white;
		line-height: 0.95;
		overflow: hidden;
		position: absolute;
		color: white;
		cursor: pointer;

		div {
			padding: 6px;
			font-weight: 200;
			color: white;
		}
	}
}